# Archivos del proyecto
.metadata/
/notas
*.log
logs/

# Docker
.docker/

# Archivos del sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath
.factorypath

# Archivos temporales
*.tmp
*.bak
*.cache
