version: '3.8'

services:
  # Auth Service
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth-service
    environment:
      ACCOUNTS_SERVICE_URL: http://accounts-service:8080
    ports:
      - "8082:8080"
    networks:
      - monopatines-network

networks:
  monopatines-network:
    driver: bridge
    external: true

